# Prerequisites
*.d
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.map
*.lst
*.dSYM

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.plist

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.dol
*.elf
*.nacp
*.nro

# Ignore engine and engine-app directories
build/rock-rain
build/engine
